.card-project {
    display: flex;
    flex-direction: column;
    gap: 56px;

    padding: 30px 34px;

    background-color: var(--neutral-white);
    border: solid 1px var(--neutral-grey-200);
    border-radius: 10px;
}

.card-project-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h5,
    p {
        margin: 0;
    }
}

.card-project-content {
    p {
        margin: 0;
    }
}

.card-project-progression-bar {
    --project-progression: 0%;

    position: relative;
    display: flex;
    width: 100%;
    height: 7px;

    margin-block: 16px 8px;

    border-radius: 4px;
    background-color: var(--neutral-grey-200);
}

.card-project-progression-bar::after {
    content: '';
    width: var(--project-progression);
    border-radius: 4px;
    background-color: var(--brand-dark-orange);
}

.card-project-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
        margin: 0;
    }
}

.card-project-team {
    display: flex;
    gap: 8px;
}

.card-project-team::before {
    content: url("data:image/svg+xml, %3Csvg%20width%3D%2212%22%20height%3D%2211%22%20viewBox%3D%220%200%2012%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.52637%206.94727C9.78424%206.94727%2011.579%208.74215%2011.5791%2011H3.47363C3.47372%208.74222%205.2686%206.94738%207.52637%206.94727ZM3.87891%205.21094C4.11047%205.73187%204.45811%206.19468%204.86328%206.54199C3.99485%207.06305%203.2998%207.81614%202.89453%208.68457H0C0%206.77405%201.56313%205.21099%203.47363%205.21094H3.87891ZM7.52637%200.579102C9.12507%200.579102%2010.4208%201.87494%2010.4209%203.47363C10.4209%205.07238%209.12511%206.36816%207.52637%206.36816C5.92769%206.36809%204.63184%205.07233%204.63184%203.47363C4.63189%201.87499%205.92772%200.579177%207.52637%200.579102ZM3.47363%200C3.99467%200%204.45802%200.173434%204.86328%200.462891C3.99488%201.15761%203.47367%202.25787%203.47363%203.47363C3.47363%203.8789%203.53167%204.28446%203.64746%204.63184H3.47363C2.19994%204.63182%201.1582%203.58913%201.1582%202.31543C1.15843%201.04192%202.20008%201.19457e-05%203.47363%200Z%22%20fill%3D%22%236B7280%22%2F%3E%3C%2Fsvg%3E");
}

.card-project-team-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card-project-members {
    display: grid;
}

.card-project-owner, .card-project-project-member {
    display: flex;
    place-content: center;
    place-items: center;

    width: 27px;
    height: 27px;

    padding: 10px 6px;

    color: var(--neutral-grey-950);
    font-size: var(--font-size-2xs);
}

.card-project-project-member {
    --member-margin-left: 0;
    --member-ml-coef: 70%;

    grid-column-start: 1;
    grid-row-start: 1;

    margin-left: var(--member-margin-left);

    border: solid 1px var(--neutral-white);
}