.dashboard-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    margin-block: 89px 60px;

    h2,
    p {
        margin: 0;
    }

    .task-ia-button {
        display: flex;
        justify-content: end;
        align-items: center;

        width: 94px;
        height: 50px;

        padding: 14.5px 23.5px;

        border-radius: 10px;
        background-position: left 23.5px center;

        &:hover {
            color: var(--brand-dark-orange);
        }
    }
}

.dashboard-header-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.dashboard-header-buttons {
    display: flex;
    gap: 12px;
}

.dashboard-type {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.dashboard-tasks-container {
    padding: 40px 59px;
    border: solid 1px var(--neutral-grey-200);
    border-radius: 10px;
    background-color: var(--neutral-white);
}

.dashboard-tasks-header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin-bottom: 41px;

    h3,
    p {
        margin: 0;
    }

    div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 8px;
    }
}

.dashboard-tasks-content {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.chip-active {
    background-color: var(--brand-light-orange);
}

.dashboard-kanban-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    margin-bottom: 25px;
}

@media (min-width: 1301px) {
    .dashboard-kanban-container {
        grid-template-columns: repeat(3, minmax(0, 419px));
    }
}

@media (max-width: 1024px) {
    .dashboard-tasks-container {
        padding: 30px 25px;
    }
}

.dashboard-kanban-tasks {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 40px 24px;

    background: var(--neutral-white);
    border: solid 1px var(--system-error-red-light);
    border-radius: 10px;

    h3 {
        display: flex;
        align-items: baseline;
        gap: 8px;
        margin-block: 0 25px;
    }
}