.chip {
    display: flex;
    gap: 14px;

    width: fit-content;
    
    padding: 14px 16px;

    border-radius: 8px;
    background-color: var(--neutral-white);
}

.chip:hover {
    background-color: var(--brand-light-orange);
}

.chip-tasks::before {
    content: url("assets/tasks.svg");
}

.chip-kanban:before {
    content: url("assets/calendar.svg");
}

.chip-calendar:before {
    content: url("assets/calendar.svg");
}

.chip-projects:before {
    content: url("assets/projects.svg");
}

.chip-active {
    background-color: var(--brand-light-orange);
}