main {
    flex-grow: 1;
}

main>div {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
    padding-inline: 100px;
}

@media (max-width: 1024px) {
    main>div {
        padding-inline: 10px;
    }
}

.search {
    max-width: 357px;
    width: 100%;

    input {
        padding: 23px 52px 23px 32px;

        font-size: var(--font-size-s);
        background: var(--neutral-white) url("assets/magnifier.svg") center no-repeat;
        background-position-x: right 32px;
    }
}