.project-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    position: relative;
}

.project-back-button {
    display: flex;
    place-items: center;
    place-content: center;
    grid-column: 1/2;

    width: 57px;
    height: 57px;

    margin-top: 89px;
    margin-left: -100%;

    cursor: pointer;

    border-radius: 10px;
    border: solid 1px var(--neutral-grey-200);
    background-color: var(--neutral-white);

}

.project-back-button::before {
    content: url("../../assets/arrow-left.svg");
}

.project-back-button:hover {
    border-color: var(--brand-dark-orange);
}

.project-back-button:hover::before {
    content: url("../../assets/arrow-left-hover.svg");
}



.project-header {
    display: flex;
    flex-wrap: wrap;
    gap: 49px;

    grid-column: 2/3;
    margin-left: -57px;

    margin-block: 89px 34px;
}

.project-header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px;

    width: 100%;

    h2,
    p {
        margin: 0;
    }

    .project-task-modal-button {
        padding: 15px 9px;
    }

    .project-ia-button {
        display: flex;
        justify-content: end;
        align-items: center;

        width: 94px;
        height: 50px;

        padding: 14.5px 23.5px;

        border-radius: 10px;
        background-position: left 23.5px center;

        &:hover {
            color: var(--brand-dark-orange);
        }
    }
}

.project-header-content {
    display: flex;
    flex-direction: column;
    gap: 14px;

    h2 {
        display: flex;
        gap: 14px;
        align-items: center;
        flex-wrap: wrap;
    }
}

.project-header-buttons {
    display: flex;
    gap: 12px;
}

.project-contributors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;

    padding: 20px 50px;

    background: var(--neutral-grey-100);
    border-radius: 10px;

    h3 {
        display: flex;
        align-items: center;
        gap: 8px;

        margin: 0;
    }
}

.project-contributors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.project-owner,
.project-contributor {
    display: flex;
    place-content: center;
    place-items: center;

    width: 27px;
    height: 27px;

    padding: 10px 6px;

    color: var(--neutral-grey-950);
    font-size: var(--font-size-2xs);
}

.project-contributor {
    border: solid 1px var(--neutral-white);
}

.project-tasks-container {
    grid-column: 2/3;
    margin-left: -57px;
    margin-bottom: 40px;
    padding: 40px 59px;

    border: solid 1px var(--neutral-grey-200);
    border-radius: 10px;
    background-color: var(--neutral-white);
}

.project-tasks-header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    margin-bottom: 41px;
}

.project-tasks-header-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;

    h4,
    p {
        margin: 0;
    }
}

.project-tasks-header-options {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 16px;
}

.project-tasks-content {
    display: flex;
    flex-direction: column;
    gap: 14px;

    padding-inline: 40px;
}

.status {
    width: 152px;

    padding: 23px 32px;

    font-size: var(--font-size-s);
    color: var(--neutral-grey-600);

    appearance: none;

    background: var(--neutral-white) url("../../assets/arrow-down.svg") right 25px center no-repeat;
    border: 1px solid var(--neutral-grey-200);
    border-radius: 8px;

    &:open {
        /* background-image: url("../../assets/arrow-up.svg"); */
    }
}

@media (max-width: 1024px) {

    .project-back-button,
    .project-header,
    .project-tasks-container {
        margin-left: 0;
    }

    .project-tasks-container {
        grid-column: 1/3;
    }

    .project-tasks-header-options {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    .project-tasks-content {
        padding-inline: 0;
    }
}

@media (max-width: 780px) {
    .project-contributors {
        padding-inline: 20px;
    }

    .project-tasks-container {
        padding: 30px 20px;
    }
}