.profile {
    padding-top: 57px;
}

.profile-title {
    margin-block: 0 8px;
}

.profile-subtitle {
    margin-block: 0;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 41px;

    width: 100%;

    padding: 40px 59px;

    border-radius: 10px;
    border: 1px solid var(--neutral-grey-200);
    background-color: var(--neutral-white);
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    label {
        flex-direction: column;
        display: flex;
        gap: 7px;
    }

    input {
        padding: 19px 17px;

        border: solid 1px var(--neutral-grey-200);
        border-radius: 4px;
    }
}

.form-footer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.signout-link {
    padding: 15.5px 27.5px;

    text-align: center;

    background-color: var(--system-error-red);
    border: 1px solid var(--system-error-red);
    border-radius: 10px;

    cursor: pointer;

    &:hover {
        color: var(--system-error-red);
        background-color: revert;
        border-color: var(--system-error-red);
    }
}

@media (max-width: 1024px) {
    .update-profile-button {
        width: revert;
        flex: 1;
    }

    .signout-link {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 780px) {
    .profile-form {
        padding-inline: 20px;
    }
}