.menu {
    flex-grow: 1;
}

.menu > ul {
    display: flex;
    place-items: center;
    gap: 16px;

    padding: 0;

    list-style: none;
}

.item-left {
    margin-left: auto;
}

.item-right {
    margin-right: auto;
}
