.menu-link {
    display: flex;
    place-items: center;
    place-content: center;
    gap: 16px;
    width: 248px;
    height: 78px;
    border-radius: 10px;
    color: var(--brand-dark-orange);
    background-color: var(--neutral-white);
}

.menu-link:hover, .menu-link-active {
    background-color: var(--neutral-grey-950);
    color: var(--neutral-white);

    img {
        filter: brightness(0) invert(1);
    }
}