.menu {
    flex-grow: 1;
}

.menu>ul {
    display: flex;
    place-items: center;
    gap: 16px;

    padding: 0;

    list-style: none;
}

.item-left {
    margin-left: auto;
}

.item-right {
    margin-right: auto;
}

@media (max-width: 1024px) {
    .menu li:last-child {
        width: 65px;
        height: 65px;
    }

    .menu li:last-child a {
        position: absolute;
        top: 15px;
        right: 20px;
    }
}

@media (max-width: 768px) {
    .menu li:last-child a {
        right: 10px;
    }
}

@media (max-width: 480px) {
    .menu li:last-child {
        width: auto;
        height: auto;
    }
}