.label {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input {
    padding: 19px 58px 19px 17px;
    border-radius: 4px;
    border: 1px solid var(--neutral-grey-200);
    background-color: var(--neutral-white);

    background: transparent url("assets/arrow-down.svg") center no-repeat;
    background-position-x: right 22px;
}

.label:not(:focus-within) select,
select:empty {
    display: none;
}

.select {
    padding: 10px 15px;

    border: 1px solid var(--neutral-grey-200);
    border-radius: 4px;

    option {
        margin-block: 1px;
        padding: 10px 10px;

        border-radius: 4px;
        cursor: pointer;
    }
}