.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heading {
    text-align: center;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input {
    padding: 19px 17px;
    border-radius: 4px;
    border: 1px solid var(--neutral-grey-200);
    background-color: var(--neutral-white);
}

.button {
    justify-self: center;
    width: fit-content;
    margin-inline: auto;
    padding: 15.5px 74px;
    color: var(--neutral-white);
    background-color: var(--neutral-grey-950);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.error-message {
    text-align: center;
}